<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
시작 페이지
<form method="post" action="/new_user" >
    <ul>
        <li>
            <input type="text" name="name">
        </li>
        <li>
            <input type="text" name="id">
        </li>
        <li>
            <input type="text" name="pw">
        </li>
        <li>
            <input type="submit" value="가입">
        </li>
    </ul>

</form>

</body>
</html>